In [1]:
print("Name : ")
print("This is a CSV of more than 200 rows which has Covide data.")
print("The task is to find out top 5 the countries who are least affected by covid")
print("Another task is to find out top 5 the countries who has the maximum number of deaths")
print("Another task is to find out top 5 the countries who has the maximum number of active cases")

Name :
This is a CSV of more than 200 rows which has Covide data.
The task is to find out top 5 the counties who has the least number of cases
Another task is to find out top 5 the counties who has the maximum number of deaths
Another task is to find out top 5 the counties who has the maximum number of active cases

In [10]:
#Covide Data 
import  numpy as np
import pandas as pd
from matplotlib import pyplot as plt


dataframe = pd.read_csv('covid19.csv')
df = dataframe.dropna()
df

,country,total_cases,new_cases,total_deaths,new_deaths,total_recovered,active_cases,active_critical,total_tests,population
0,USA,1621196,294,96359,5.0,382244,1142593,17907,13479242,330790544
1,Russia,326448,8894,3249,150.0,99825,223374,2300,8126626,145927804
2,Brazil,310921,0,20082,0.0,125960,164879,8318,735224,212393298
3,Spain,280117,0,27940,0.0,196958,55219,1152,3037840,46752851
4,UK,250908,0,36042,0.0,1918,212948,1559,3090566,67847158
...,...,...,...,...,...,...,...,...,...,...
208,St. Barth,6,0,0,0.0,6,0,0,0,9874
209,Western Sahara,6,0,0,0.0,6,0,0,0,595583
210,Anguilla,3,0,0,0.0,3,0,0,0,14988
211,Lesotho,1,0,0,0.0,0,1,0,0,2140374
212,Saint Pierre Miquelon,1,0,0,0.0,1,0,0,0,5797

In [1]:
#Task 1 
#Sort the data as per total number of cases

In [2]:
#Task 2
#Get top 5 countries who has the least number of cases and plot a bar graph

In [3]:
#Task 3
#Sort the data as per total number of deaths

In [4]:
#Task 4
#Get top 5 countries who has the maximum number of deaths and plot a bar graph

In [5]:
#Task 5
#Sort the data as per active cases

In [6]:
#Task 6
#Get top 5 countries who has the maximum number of active cases and plot a bar graph